<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingcheng.mapper.SysMenuMapper">

    <resultMap type="com.xingcheng.domain.SysMenu" id="SysMenuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="sortValue" column="sort_value" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mall-sys.sys_menu(parent_id, title, component, sort_value, status, create_time, update_time, is_deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.parentId}, #{entity.title}, #{entity.component}, #{entity.sortValue}, #{entity.status}, #{entity.createTime}, #{entity.updateTime}, #{entity.isDeleted})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mall-sys.sys_menu(parent_id, title, component, sort_value, status, create_time, update_time, is_deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.parentId}, #{entity.title}, #{entity.component}, #{entity.sortValue}, #{entity.status}, #{entity.createTime}, #{entity.updateTime}, #{entity.isDeleted})
        </foreach>
        on duplicate key update
         parent_id = values(parent_id) , title = values(title) , component = values(component) , sort_value = values(sort_value) , status = values(status) , create_time = values(create_time) , update_time = values(update_time) , is_deleted = values(is_deleted)     </insert>

</mapper>

