<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingcheng.mapper.WmsWareInfoMapper">

    <resultMap type="com.xingcheng.domain.WmsWareInfo" id="WmsWareInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="areacode" column="areacode" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mall_wms.wms_ware_info(name, address, areacode)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.address}, #{entity.areacode})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mall_wms.wms_ware_info(name, address, areacode)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.address}, #{entity.areacode})
        </foreach>
        on duplicate key update
         name = values(name) , address = values(address) , areacode = values(areacode)     </insert>

</mapper>

