<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingcheng.mapper.PmsAttrGroupMapper">

    <resultMap type="com.xingcheng.domain.PmsAttrGroup" id="PmsAttrGroupMap">
        <result property="attrGroupId" column="attr_group_id" jdbcType="INTEGER"/>
        <result property="attrGroupName" column="attr_group_name" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="descript" column="descript" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="catelogId" column="catelog_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="attrGroupId" useGeneratedKeys="true">
        insert into mall_pms.pms_attr_group(attr_group_name, sort, descript, icon, catelog_id)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.attrGroupName}, #{entity.sort}, #{entity.descript}, #{entity.icon}, #{entity.catelogId})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="attrGroupId" useGeneratedKeys="true">
        insert into mall_pms.pms_attr_group(attr_group_name, sort, descript, icon, catelog_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.attrGroupName}, #{entity.sort}, #{entity.descript}, #{entity.icon}, #{entity.catelogId})
        </foreach>
        on duplicate key update
         attr_group_name = values(attr_group_name) , sort = values(sort) , descript = values(descript) , icon = values(icon) , catelog_id = values(catelog_id)     </insert>

</mapper>

